* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#img-shop:hover {
  transform: scale(1.5);
}
#velo {
  width: 100%;
  height: 300px;
}
container-fluid {
  height: 100vh;
}
#shop {
  color: white;
}
