* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
}
.card:hover {
  transform: scale(1.3);
  z-index: 2;
  border-radius: 10px;
  background-color: tomato;
  border: 5px ridge white;
}
#velo {
  width: 100%;
  height: 300px;
}
#veloo {
  width: 100px;
}
container-fluid {
  height: 100vh;
}
#shop {
  color: white;
}
.logot {
  text-decoration: none;
  color: white;
}
.card {
  transition: all 0.4s;
}
.lettre {
  font-size: 20px;

  animation: flash 1.2s linear infinite;
}
@keyframes flash {
  0% {
    color: white;
    text-shadow: 0 0 7px white;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: white;
    text-shadow: 0 0 7px white;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}
.lettre:nth-child(11) {
  animation-delay: 1.1s;
}
.lettre:nth-child(12) {
  animation-delay: 1.2s;
}
.lettre:nth-child(13) {
  animation-delay: 1.3s;
}
.lettre:nth-child(14) {
  animation-delay: 1.4s;
}
.lettre:nth-child(15) {
  animation-delay: 1.5s;
}
.lettre:nth-child(16) {
  animation-delay: 1.6s;
}
.lettre:nth-child(17) {
  animation-delay: 1.7s;
}
.lettre:nth-child(18) {
  animation-delay: 1.8s;
}
.lettre:nth-child(19) {
  animation-delay: 1.9s;
}
.lettre:nth-child(20) {
  animation-delay: 2s;
}
.lettre:nth-child(21) {
  animation-delay: 2.1s;
}
.lettre:nth-child(22) {
  animation-delay: 2.2s;
}
